.font-style{
    font-family:Georgia;
}

.datatime_input_style{
    margin-top:13px;
}

.float_right{
    float:right;
}

 .check_input{
  
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 30px;
  padding: 0 25px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  background-color:#D0D0D0;
}

.add-on{
   background:white;
}

.background_color{
    background-color:#F0F0F0;
}

.datashow_background{
   clear:both;
   border:1px solid #ADADAD;
   margin-top:150px;
   box-shadow:3px 3px 20px #ADADAD;
   margin-left:auto;
   margin-right:auto;
}
/*
 .boot{
 
  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30%;
  padding: 0 3%;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#009900;
  margin-left:auto;
  margin-right:auto;
}

 .shutdown{
 
  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30%;
  padding: 0 3%;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#990000;
  margin-left:auto;
  margin-right:auto;
}

.reboot{

  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30%;
  padding: 0 3%;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#66FF66;
  margin-left:auto;
  margin-right:auto;
}
*/
.boot{
 
  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30%;
  padding: 0 3%;
  margin: 0;
  /*
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#F0F0F0;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #009900;*/
}

 .shutdown{
 
  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30%;
  padding: 0 3%;
  margin: 0;
  /*
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#F0F0F0;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #990000;
  */
}

.reboot{

  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30%;
  padding: 0 3%;
  margin: 0;
  /*
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#F0F0F0;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #FFFF66;
  */
}

.cancel_boot{
  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding: 0 3%;
  margin: 0;
  /*
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#F0F0F0;
  margin-left:auto;
  margin-right:auto;
  */
  margin-top:-1.5%;
  /*
  border:1px solid #CCCC99;
  */
}

.cancel_shutdown{
  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding: 0 3%;
  margin: 0;
  /*
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#F0F0F0;
  margin-left:auto;
  margin-right:auto;
  */
  margin-top:-1.5%;
  /*
  border:1px solid #CCCC99;
  */
}
.boot_shutdown_reboot_style{
  position:relative;
  top:15px;
  margin:0 auto;
}

.auto_boot_and_shutdown_checkbox{
  position:relative;
  left:60%;
  top:20px;
  width:20%;
}

.auto_boot_and_shutdown_label{
  color: #999999;
  font-size:150%;
  /*
  position:relative;
  left:40%;
  top:45px;
  width:30%;*/
  text-align:center;
}

.auto_boot_time_style{
    margin:0 auto;
}

.auto_boot_label{
  color: #999999;
  font-size:120%;
  /*
  position:relative;
  left:25%;
  top:60px;
  width:30%;*/
}

.boot_time_style{
  margin:0 auto;
}
.auto_shutdown_time_style{
    margin:0 auto;
}

.auto_shutdown_label{
  color: #999999;
  font-size:120%;
  /*
  position:relative;
  left:25%;
  top:45px;
  width:30%;*/
}
/*
.set_ok{
  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 60%;
  padding: 0 5%;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#D0D0D0;
}*/
.set_ok{
  clear:both;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  height: 60%;
  padding: 0 5%;
  margin: 0;
  /*
  display: inline-block;
  appearance: none;
  cursor: pointer;
  background-color:#F0F0F0;
  border:1px solid #99FF33;
  */
}

