/***微官网***/
body, article, section, h1, h2, hgroup, p, a, ul, li, em, div, small, span, footer, canvas, figure, figcaption, input {margin: 0;padding: 0;}
li{list-style-type: none;}
a{ text-decoration:none; }


.ui-widget ::-webkit-scrollbar{width:1px; height:20px;}
.ui-widget ::-webkit-scrollbar-track{background-color:#bee1eb;}
.ui-widget ::-webkit-scrollbar-thumb{background-color:#4d90fe;}
.ui-widget ::-webkit-scrollbar-thumb:active {background-color:#4d90fe}
/**{ font-size: 'Microsoft Yahei' }*/
.dome_exp{width:743px; height: auto;display:block;margin: 20px auto; position: relative;}
.dome_menu{background:#3d3d3d;  display: block;position: relative; }
.dome_menu #bar{height: 60px; width:400px;overflow: hidden;margin: 0 auto;text-align: center;  }
.dome_menu ul li{ width: 60px; height: 100%; position: relative; display: inline-block;text-align: center; color: white; vertical-align: top }
.dome_menu ul li:hover{ background:#484d64;cursor: pointer; }
.dome_menu ul li i{margin: 10px 0 8px 0;font-size: 1rem;}
.backg img{width: 100%;height: 100%; display: block; position: absolute;top: 0; left: 0; opacity: 0;}
.savewebsite{ position: absolute; top:16px; right:0px; display: block; width: 100px; }


.funlsit{ max-width:300px; margin: 0 100px 0 0; display: inline-block;  float: left;}
.funlsit .control-label,
.funlsit .controls,
.funlsit .controls input{ width:40%; display: inline-block; vertical-align: center; padding:5px;}
.gallery {min-height: 12em; width: 100%;}
.gallery.custom-state-active { background: #eee; }
.gallery li { position: relative;  margin: 0 3px 3px 3px; line-height: 30px; padding: 5px; border: 1px solid #d3d3d3;background: #e6e6e6;font-weight: normal;color: #555555;}
.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
.gallery li a { }
li a:hover{ color: inherit; }
.gallery li a.ui-icon-zoomin { float: left; }
.gallery li img { width: 100%; cursor: move; }
.gallery i.icon_selcet{ width: 20px; height: 20px; display:inline-block; position: absolute; top:10px; right:10px;  
 background: url("/media/image/icon/icondel.png") no-repeat;background-position: 0px -20px;background-size: 100%;}
.gallery .maininfo{ display: none; }


#website{margin: 0 auto;position: relative;  width:321px;height: 484px;border: 1px solid #E2E2E2; overflow-y: auto;overflow-x: hidden;}
.imghide{display: none!important;}

#website .maininfo{width: 100%; height: 100%; display: block;}
#website .maininfo img{ width: 100%; height: 100%; display: block; }

#website h4 { line-height: 16px; margin: 0 0 0.4em; }
#website h4 .ui-icon { float: left; }
#website .gallery h5 { display: none;}
#website .ui-helper-reset{position: relative; padding: 0; margin: 0; width: 100%; height:200%;}
.drophover{ background-color: #EFEFEF }
#website h5{margin: 0}
/*2017.3.3*/
#website li{z-index: 1;  position:absolute; overflow: hidden;width: 100%;}
#website li:hover{border: 1px solid #4d90fe;}
#website li.picture{width:70px; height:70px;}
#website li.pencil input[type='text']{ margin: 0; width: 98%; background: inherit;padding:0 1%;min-height:30px;height: 100%; border: 1px solid #e4e4e4;}
.swiper-wrapper{border: 1px solid #f3f3f3;}
#website li .ui-widget-header{ position: absolute;opacity: 0;cursor: move; width:26px;height: 26px; z-index: 99; overflow: hidden; top:0px;left: 0px;transform: rotate(0deg);font-size: 1px; 
 background: url("/media/image/icon/move.png") no-repeat;background-position:center center;background-size: 80%;}
#website li:hover .ui-widget-header{opacity: 0.6}
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; } .ui-resizable-handle { position: absolute; font-size: 0.1px; display: block; -ms-touch-action: none; touch-action: none; } .ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; } .ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; } .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
#website ul li i.icon_selcet{ width: 20px; height: 20px; display:inline-block; position: absolute; top:0px; right:0px;  
 background: url("/media/image/icon/icondel.png") no-repeat;background-position: 6px 6px;background-size: 60%;}

.ui-icon-gripsmall-diagonal-se {  background-image: url(images/ui-icons_444444_256x240.png);background-position: -64px -224px; }
.changebg{ position: absolute; top:0; right:0; display: block; width: 20px; height: 80px; }
.changebg img.setbgimg{ position: absolute; top:0 ;left: 0; width: 100%; height: 100%; }
.ui-resizable-helper { border: 1px dotted gray; }


.datainfo{ position: absolute; top:100px;left:-80px; width: 260px; z-index:2;}
.datainfo .control-label{width: 65px;}
.datainfo .form-horizontal .controls{margin-left:80px; }
.datainfo .form .form-actions{padding:10px 0; margin: 0;text-align: center;}
.datainfo .span12{ display: none; }
.select{border: 1px dotted blue!important;}
.datainfo .icon-trash{ margin:5px 5px 0 0; float:right;cursor:pointer; }
.datainfo .icon-trash:hover{color: red; }



/*banner*/ 
.swiper-container {width: 100%;height:226px;margin:auto;}
.swiper-slide {text-align: center;font-size: 18px;background:initial;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}




/*功能栏目显隐*/
.datahref{ width: 100%; height: 100%; display: inline-block; }
.font_style{ line-height:32px; cursor: pointer; }
.alener{color: #000000!important;}
.font_style i{ font-size:14px; padding: 0 6px; cursor: pointer; color: #e5e5e5;  }
select.m-wrap.small{ width: 77px!important; }

.picture .settxt,
.pencil .setbg,
.pencil .setheight,
.banner .settxt,
.banner .sethref,
.bannum,
.setfont,
.setcol{display: none;}
.banner .bannum,.pencil .setfont,.pencil .setcol{display: block;}



/*web*/
.web{width: 100%!important;}
.web,.web li{ border:none!important; }
/*.web{border-bottom: 1px solid red!important}*/
.web .maininfo input[type="text"]{border: none!important;}
.web .ui-helper-reset{height: 100%!important;}
.web .swiper-wrapper{border:none;}
.swiper-container-horizontal>.swiper-pagination-bullets{ bottom:0px!important;text-align: right;}