.master-style{
  position:relative;
  left:3%;
  top:3%;
  text-align:center;
}

.master_label{
  color: #999999;
  font-size:1.3em;
}

.slave1-style{
  position:relative;
  left:18%;
  top:-17%;
  text-align:center;
}

.slave1_label{
  color: #999999;
  font-size:1.3em;
}

.slave2-style{
  position:relative;
  left:33%;
  top:-37%;
  text-align:center;
}

.slave2_label{
  color: #999999;
  font-size:1.3em;
}

.slave3-style{
  position:relative;
  left:48%;
  top:-57%;
  text-align:center;
}

.slave3_label{
  color: #999999;
  font-size:1.3em;
}

.slave4-style{
  position:relative;
  left:63%;
  top:-77%;
  text-align:center;
}

.slave4_label{
  color: #999999;
  font-size:1.3em;
}

.slave5-style{
  position:relative;
  left:78%;
  top:-97%;
  text-align:center;
}

.slave5_label{
  color: #999999;
  font-size:1.3em;
}

.slave6-style{
  position:relative;
  left:3%;
  top:-97%;
  text-align:center;
}

.slave6_label{
  color: #999999;
  font-size:1.3em;
}

.slave7-style{
  position:relative;
  left:18%;
  top:-117%;
  text-align:center;
}

.slave7_label{
  color: #999999;
  font-size:1.3em;
}

.slave8-style{
  position:relative;
  left:33%;
  top:-137%;
  text-align:center;
}

.slave8_label{
  color: #999999;
  font-size:1.3em;
}

.slave9-style{
  position:relative;
  left:48%;
  top:-157%;
  text-align:center;
}

.slave9_label{
  color: #999999;
  font-size:1.3em;
}

.slave10-style{
  position:relative;
  left:63%;
  top:-177%;
  text-align:center;
}

.slave10_label{
  color: #999999;
  font-size:1.3em;
}

.slave11-style{
  position:relative;
  left:78%;
  top:-197%;
  text-align:center;
}

.slave11_label{
  color: #999999;
  font-size:1.3em;
}

.slave12-style{
  position:relative;
  left:3%;
  top:-197%;
  text-align:center;
}

.slave12_label{
  color: #999999;
  font-size:1.3em;
}

.slave13-style{
  position:relative;
  left:18%;
  top:-217%;
  text-align:center;
}

.slave13_label{
  color: #999999;
  font-size:1.3em;
}

.slave14-style{
  position:relative;
  left:33%;
  top:-237%;
  text-align:center;
}

.slave14_label{
  color: #999999;
  font-size:1.3em;
}

.slave15-style{
  position:relative;
  left:48%;
  top:-257%;
  text-align:center;
}

.slave15_label{
  color: #999999;
  font-size:1.3em;
}

.slave16-style{
  position:relative;
  left:63%;
  top:-277%;
  text-align:center;
}

.slave16_label{
  color: #999999;
  font-size:1.3em;
}

.slave17-style{
  position:relative;
  left:78%;
  top:-297%;
  text-align:center;
}

.slave17_label{
  color: #999999;
  font-size:1.3em;
}

.slave18-style{
  position:relative;
  left:3%;
  top:-297%;
  text-align:center;
}

.slave18_label{
  color: #999999;
  font-size:1.3em;
}

.slave19-style{
  position:relative;
  left:18%;
  top:-317%;
  text-align:center;
}

.slave19_label{
  color: #999999;
  font-size:1.3em;
}