.font-style{
    font-family:Georgia;
}

.datatime_input_style{
    margin-top:13px;
}

.float_right{
    float:right;
}

 .check_input{
  
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 30px;
  padding: 0 25px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  background-color:#D0D0D0;
}

.add-on{
   background:white;
}

.background_color{
    background-color:#F0F0F0;
}

.datashow_background{
   clear:both;
   border:1px solid #ADADAD;
   /*
   margin-top:150px;
   */
   box-shadow:3px 3px 20px #ADADAD;
   margin-left:auto;
   margin-right:auto;
}

.left_top_flow{
  clear:left;
  margin-top:10px;
  margin-left:3%;
  float:left;
}

.right_top_flow{
  clear:right;
  margin-top:10px;
  margin-right:3%;
  float:right;
}

.left_top{
  margin-top:10px;
  margin-left:3%;
}

.right_top{
    margin-top:10px;
	margin-right:60%;
}

.center{
   clear:both;
   position:relative;
   top:35%;
   left:2%;
}

.left_bottom_flow{
  clear:both;
  position:relative;
  top:38%;
  left:-33%;
  margin-bottom:10px;
  margin-left:3%;
  /*
  float:left;
  */
}

.right_bottom_flow{
  clear:both;
  position:relative;
  top:6%;
  left:67%;
  margin-bottom:10px;
  margin-right:3%;
  /*
  float:right;
  */
}
.one_position_style{
  position:relative;
  left:3%;
  top:3%;
  text-align:center;
}

.one_position_style{
  position:relative;
  left:4%;
  top:20%;
  text-align:center;
}

.one_label{
  color: #999999;
  font-size:1.3em;
}

.two_position_style{
  position:relative;
  left:22%;
  top:-30%;
  text-align:center;
}

.two_label{
  color: #999999;
  font-size:1.3em;
}

.three_position_style{
  position:relative;
  left:40%;
  top:-80%;
  text-align:center;
}

.three_label{
  color: #999999;
  font-size:1.3em;
}

.four_position_style{
  position:relative;
  left:58%;
  top:-130%;
  text-align:center;
}

.four_label{
  color: #999999;
  font-size:1.3em;
}

.five_position_style{
  position:relative;
  left:76%;
  top:-180%;
  text-align:center;
}

.five_label{
  color: #999999;
  font-size:1.3em;
}