.master-style{
  position:relative;
  left:3%;
  top:3%;
  text-align:center;
}

.master_label{
  color: #999999;
  font-size:1.3em;
}

.slave1-style{
  position:relative;
  left:21%;
  top:-27%;
  text-align:center;
}

.slave1_label{
  color: #999999;
  font-size:1.3em;
}

.slave2-style{
  position:relative;
  left:39%;
  top:-57%;
  text-align:center;
}

.slave2_label{
  color: #999999;
  font-size:1.3em;
}

.slave3-style{
  position:relative;
  left:57%;
  top:-87%;
  text-align:center;
}

.slave3_label{
  color: #999999;
  font-size:1.3em;
}

.slave4-style{
  position:relative;
  left:75%;
  top:-117%;
  text-align:center;
}

.slave4_label{
  color: #999999;
  font-size:1.3em;
}

.slave5-style{
  position:relative;
  left:3%;
  top:-110%;
  text-align:center;
}

.slave5_label{
  color: #999999;
  font-size:1.3em;
}

.slave6-style{
  position:relative;
  left:21%;
  top:-140%;
  text-align:center;
}

.slave6_label{
  color: #999999;
  font-size:1.3em;
}

.slave7-style{
  position:relative;
  left:39%;
  top:-170%;
  text-align:center;
}

.slave7_label{
  color: #999999;
  font-size:1.3em;
}

.slave8-style{
  position:relative;
  left:57%;
  top:-200%;
  text-align:center;
}

.slave8_label{
  color: #999999;
  font-size:1.3em;
}

.slave9-style{
  position:relative;
  left:75%;
  top:-230%;
  text-align:center;
}

.slave9_label{
  color: #999999;
  font-size:1.3em;
}