.master-style{
  position:relative;
  left:15%;
  top:20%;
  text-align:center;
}

.master_label{
  color: #999999;
  font-size:1.3em;
}

.slave1-style{
  position:relative;
  left:40%;
  top:-25%;
  text-align:center;
}

.slave1_label{
  color: #999999;
  font-size:1.3em;
}

.slave2-style{
  position:relative;
  left:65%;
  top:-70%;
  text-align:center;
}

.slave2_label{
  color: #999999;
  font-size:1.3em;
}

.slave3-style{
  position:relative;
  left:67%;
  top:-55%;
  text-align:center;
}

.slave3_label{
  color: #999999;
  font-size:1.3em;
}

.slave4-style{
  position:relative;
  left:3%;
  top:-55%;
  text-align:center;
}

.slave4_label{
  color: #999999;
  font-size:1.3em;
}

.slave5-style{
  position:relative;
  left:35%;
  top:-85%;
  text-align:center;
}

.slave5_label{
  color: #999999;
  font-size:1.3em;
}

.slave6-style{
  position:relative;
  left:67%;
  top:-115%;
  text-align:center;
}

.slave6_label{
  color: #999999;
  font-size:1.3em;
}