<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.victors.main.Test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TrafficAndTheAmountOfStoreHour</servlet-name>
    <servlet-class>com.victors.main.TrafficAndTheAmountOfStoreHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IntoTheStoreRateHour</servlet-name>
    <servlet-class>com.victors.main.IntoTheStoreRateHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VisitingCycleHour</servlet-name>
    <servlet-class>com.victors.main.VisitingCycleHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewAndOldCustomersHour</servlet-name>
    <servlet-class>com.victors.main.NewAndOldCustomersHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerActiveHour</servlet-name>
    <servlet-class>com.victors.main.CustomerActiveHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TheResidentTimeHour</servlet-name>
    <servlet-class>com.victors.main.TheResidentTimeHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BounceRateAndDeepRateHour</servlet-name>
    <servlet-class>com.victors.main.BounceRateAndDeepRateHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TrafficAndTheAmountOfStoreDay</servlet-name>
    <servlet-class>com.victors.main.TrafficAndTheAmountOfStoreDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IntoTheStoreRateDay</servlet-name>
    <servlet-class>com.victors.main.IntoTheStoreRateDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewAndOldCustomersDay</servlet-name>
    <servlet-class>com.victors.main.NewAndOldCustomersDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TheResidentTimeDay</servlet-name>
    <servlet-class>com.victors.main.TheResidentTimeDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BounceRateAndDeepRateDay</servlet-name>
    <servlet-class>com.victors.main.BounceRateAndDeepRateDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TrafficAndTheAmountOfStoreMonth</servlet-name>
    <servlet-class>com.victors.main.TrafficAndTheAmountOfStoreMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IntoTheStoreRateMonth</servlet-name>
    <servlet-class>com.victors.main.IntoTheStoreRateMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VisitingCycleMonth</servlet-name>
    <servlet-class>com.victors.main.VisitingCycleMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewAndOldCustomersMonth</servlet-name>
    <servlet-class>com.victors.main.NewAndOldCustomersMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerActiveMonth</servlet-name>
    <servlet-class>com.victors.main.CustomerActiveMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TheResidentTimeMonth</servlet-name>
    <servlet-class>com.victors.main.TheResidentTimeMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BounceRateAndDeepRateMonth</servlet-name>
    <servlet-class>com.victors.main.BounceRateAndDeepRateMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestInit</servlet-name>
    <servlet-class>TestInit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestInit2</servlet-name>
    <servlet-class>TestInit2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SteeringDataDisplay</servlet-name>
    <servlet-class>com.victors.main.SteeringDataDisplay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>Test2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TrafficAndTheAmountOfStoreWeek</servlet-name>
    <servlet-class>com.victors.main.TrafficAndTheAmountOfStoreWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IntoTheStoreRateWeek</servlet-name>
    <servlet-class>com.victors.main.IntoTheStoreRateWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VisitingCycleWeek</servlet-name>
    <servlet-class>com.victors.main.VisitingCycleWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewAndOldCustomersWeek</servlet-name>
    <servlet-class>com.victors.main.NewAndOldCustomersWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerActiveWeek</servlet-name>
    <servlet-class>com.victors.main.CustomerActiveWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TheResidentTimeWeek</servlet-name>
    <servlet-class>com.victors.main.TheResidentTimeWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BounceRateAndDeepRateWeek</servlet-name>
    <servlet-class>com.victors.main.BounceRateAndDeepRateWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test3</servlet-name>
    <servlet-class>Test3</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test4</servlet-name>
    <servlet-class>Test4</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTrafficAndTheAmountOfStoreHour</servlet-name>
    <servlet-class>com.victors.main.SelectTrafficAndTheAmountOfStoreHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectIntoTheStoreRateHour</servlet-name>
    <servlet-class>com.victors.main.SelectIntoTheStoreRateHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectNewAndOldCustomersHour</servlet-name>
    <servlet-class>com.victors.main.SelectNewAndOldCustomersHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTheResidentTimeHour</servlet-name>
    <servlet-class>com.victors.main.SelectTheResidentTimeHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectBounceRateAndDeepRateHour</servlet-name>
    <servlet-class>com.victors.main.SelectBounceRateAndDeepRateHour</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTrafficAndTheAmountOfStoreDay</servlet-name>
    <servlet-class>com.victors.main.SelectTrafficAndTheAmountOfStoreDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectIntoTheStoreRateDay</servlet-name>
    <servlet-class>com.victors.main.SelectIntoTheStoreRateDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Select</servlet-name>
    <servlet-class>com.victors.main.Select</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectNewAndOldCustomersDay</servlet-name>
    <servlet-class>com.victors.main.SelectNewAndOldCustomersDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTheResidentTimeDay</servlet-name>
    <servlet-class>com.victors.main.SelectTheResidentTimeDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectBounceRateAndDeepRateDay</servlet-name>
    <servlet-class>com.victors.main.SelectBounceRateAndDeepRateDay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTrafficAndTheAmountOfStoreMonth</servlet-name>
    <servlet-class>com.victors.main.SelectTrafficAndTheAmountOfStoreMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectIntoTheStoreRateMonth</servlet-name>
    <servlet-class>com.victors.main.SelectIntoTheStoreRateMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectVisitingCycleMonth</servlet-name>
    <servlet-class>com.victors.main.SelectVisitingCycleMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectNewAndOldCustomersMonth</servlet-name>
    <servlet-class>com.victors.main.SelectNewAndOldCustomersMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCustomerActiveMonth</servlet-name>
    <servlet-class>com.victors.main.SelectCustomerActiveMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTheResidentTimeMonth</servlet-name>
    <servlet-class>com.victors.main.SelectTheResidentTimeMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectBounceRateAndDeepRateMonth</servlet-name>
    <servlet-class>com.victors.main.SelectBounceRateAndDeepRateMonth</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTrafficAndTheAmountOfStoreWeek</servlet-name>
    <servlet-class>com.victors.main.SelectTrafficAndTheAmountOfStoreWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectIntoTheStoreRateWeek</servlet-name>
    <servlet-class>com.victors.main.SelectIntoTheStoreRateWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectVisitingCycleWeek</servlet-name>
    <servlet-class>com.victors.main.SelectVisitingCycleWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectNewAndOldCustomersWeek</servlet-name>
    <servlet-class>com.victors.main.SelectNewAndOldCustomersWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCustomerActiveWeek</servlet-name>
    <servlet-class>com.victors.main.SelectCustomerActiveWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectTheResidentTimeWeek</servlet-name>
    <servlet-class>com.victors.main.SelectTheResidentTimeWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectBounceRateAndDeepRateWeek</servlet-name>
    <servlet-class>com.victors.main.SelectBounceRateAndDeepRateWeek</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestSSH</servlet-name>
    <servlet-class>TestSSH</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WIFIStatus</servlet-name>
    <servlet-class>com.victors.status.WIFIStatus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ELKStatus</servlet-name>
    <servlet-class>com.victors.status.ELKStatus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SparkStatus</servlet-name>
    <servlet-class>com.victors.status.SparkStatus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WebStatus</servlet-name>
    <servlet-class>com.victors.status.WebStatus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TCPStatus</servlet-name>
    <servlet-class>com.victors.status.TCPStatus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WechartAndSMSStatus</servlet-name>
    <servlet-class>com.victors.status.WechartAndSMSStatus</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetBootAndShutdownTime</servlet-name>
    <servlet-class>com.victors.setup.SetBootAndShutdownTime</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetBootAndShutdownTime</servlet-name>
    <servlet-class>com.victors.setup.GetBootAndShutdownTime</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getMapPoint</servlet-name>
    <servlet-class>com.victors.map.getMapPoint</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BootRebootShutdown</servlet-name>
    <servlet-class>com.victors.setup.BootRebootShutdown</servlet-class>
  </servlet>





































































  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrafficAndTheAmountOfStoreHour</servlet-name>
    <url-pattern>/TrafficAndTheAmountOfStoreHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IntoTheStoreRateHour</servlet-name>
    <url-pattern>/IntoTheStoreRateHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisitingCycleHour</servlet-name>
    <url-pattern>/VisitingCycleHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAndOldCustomersHour</servlet-name>
    <url-pattern>/NewAndOldCustomersHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerActiveHour</servlet-name>
    <url-pattern>/CustomerActiveHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TheResidentTimeHour</servlet-name>
    <url-pattern>/TheResidentTimeHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BounceRateAndDeepRateHour</servlet-name>
    <url-pattern>/BounceRateAndDeepRateHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrafficAndTheAmountOfStoreDay</servlet-name>
    <url-pattern>/TrafficAndTheAmountOfStoreDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IntoTheStoreRateDay</servlet-name>
    <url-pattern>/IntoTheStoreRateDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAndOldCustomersDay</servlet-name>
    <url-pattern>/NewAndOldCustomersDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TheResidentTimeDay</servlet-name>
    <url-pattern>/TheResidentTimeDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BounceRateAndDeepRateDay</servlet-name>
    <url-pattern>/BounceRateAndDeepRateDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrafficAndTheAmountOfStoreMonth</servlet-name>
    <url-pattern>/TrafficAndTheAmountOfStoreMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IntoTheStoreRateMonth</servlet-name>
    <url-pattern>/IntoTheStoreRateMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisitingCycleMonth</servlet-name>
    <url-pattern>/VisitingCycleMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAndOldCustomersMonth</servlet-name>
    <url-pattern>/NewAndOldCustomersMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerActiveMonth</servlet-name>
    <url-pattern>/CustomerActiveMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TheResidentTimeMonth</servlet-name>
    <url-pattern>/TheResidentTimeMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BounceRateAndDeepRateMonth</servlet-name>
    <url-pattern>/BounceRateAndDeepRateMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestInit</servlet-name>
    <url-pattern>/TestInit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestInit2</servlet-name>
    <url-pattern>/TestInit2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SteeringDataDisplay</servlet-name>
    <url-pattern>/SteeringDataDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrafficAndTheAmountOfStoreWeek</servlet-name>
    <url-pattern>/TrafficAndTheAmountOfStoreWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IntoTheStoreRateWeek</servlet-name>
    <url-pattern>/IntoTheStoreRateWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisitingCycleWeek</servlet-name>
    <url-pattern>/VisitingCycleWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAndOldCustomersWeek</servlet-name>
    <url-pattern>/NewAndOldCustomersWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerActiveWeek</servlet-name>
    <url-pattern>/CustomerActiveWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TheResidentTimeWeek</servlet-name>
    <url-pattern>/TheResidentTimeWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BounceRateAndDeepRateWeek</servlet-name>
    <url-pattern>/BounceRateAndDeepRateWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test3</servlet-name>
    <url-pattern>/Test3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test4</servlet-name>
    <url-pattern>/Test4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTrafficAndTheAmountOfStoreHour</servlet-name>
    <url-pattern>/SelectTrafficAndTheAmountOfStoreHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectIntoTheStoreRateHour</servlet-name>
    <url-pattern>/SelectIntoTheStoreRateHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectNewAndOldCustomersHour</servlet-name>
    <url-pattern>/SelectNewAndOldCustomersHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTheResidentTimeHour</servlet-name>
    <url-pattern>/SelectTheResidentTimeHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectBounceRateAndDeepRateHour</servlet-name>
    <url-pattern>/SelectBounceRateAndDeepRateHour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTrafficAndTheAmountOfStoreDay</servlet-name>
    <url-pattern>/SelectTrafficAndTheAmountOfStoreDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectIntoTheStoreRateDay</servlet-name>
    <url-pattern>/SelectIntoTheStoreRateDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Select</servlet-name>
    <url-pattern>/servlet/Select</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectNewAndOldCustomersDay</servlet-name>
    <url-pattern>/SelectNewAndOldCustomersDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTheResidentTimeDay</servlet-name>
    <url-pattern>/SelectTheResidentTimeDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectBounceRateAndDeepRateDay</servlet-name>
    <url-pattern>/SelectBounceRateAndDeepRateDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTrafficAndTheAmountOfStoreMonth</servlet-name>
    <url-pattern>/SelectTrafficAndTheAmountOfStoreMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectIntoTheStoreRateMonth</servlet-name>
    <url-pattern>/SelectIntoTheStoreRateMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectVisitingCycleMonth</servlet-name>
    <url-pattern>/SelectVisitingCycleMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectNewAndOldCustomersMonth</servlet-name>
    <url-pattern>/SelectNewAndOldCustomersMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCustomerActiveMonth</servlet-name>
    <url-pattern>/SelectCustomerActiveMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTheResidentTimeMonth</servlet-name>
    <url-pattern>/SelectTheResidentTimeMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectBounceRateAndDeepRateMonth</servlet-name>
    <url-pattern>/SelectBounceRateAndDeepRateMonth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTrafficAndTheAmountOfStoreWeek</servlet-name>
    <url-pattern>/SelectTrafficAndTheAmountOfStoreWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectIntoTheStoreRateWeek</servlet-name>
    <url-pattern>/SelectIntoTheStoreRateWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectVisitingCycleWeek</servlet-name>
    <url-pattern>/SelectVisitingCycleWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectNewAndOldCustomersWeek</servlet-name>
    <url-pattern>/SelectNewAndOldCustomersWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCustomerActiveWeek</servlet-name>
    <url-pattern>/SelectCustomerActiveWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectTheResidentTimeWeek</servlet-name>
    <url-pattern>/SelectTheResidentTimeWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectBounceRateAndDeepRateWeek</servlet-name>
    <url-pattern>/SelectBounceRateAndDeepRateWeek</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestSSH</servlet-name>
    <url-pattern>/TestSSH</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WIFIStatus</servlet-name>
    <url-pattern>/WIFIStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ELKStatus</servlet-name>
    <url-pattern>/ELKStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SparkStatus</servlet-name>
    <url-pattern>/SparkStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebStatus</servlet-name>
    <url-pattern>/WebStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TCPStatus</servlet-name>
    <url-pattern>/TCPStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WechartAndSMSStatus</servlet-name>
    <url-pattern>/WechartAndSMSStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetBootAndShutdownTime</servlet-name>
    <url-pattern>/SetBootAndShutdownTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBootAndShutdownTime</servlet-name>
    <url-pattern>/GetBootAndShutdownTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getMapPoint</servlet-name>
    <url-pattern>/getMapPoint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BootRebootShutdown</servlet-name>
    <url-pattern>/BootRebootShutdown</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
